#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

		#testimonial
			.wrapper
				%p.quote "The greatest notebook application. Period."
				%p.name - Shiovhan Boykin

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Asymmetrical scenester Pitchfork, skateboard occupy food truck cray mumblecore artisan try-hard Schlitz. Mumblecore roof party blog literally try-hard +1 cornhole small batch, cliche put a bird on it bitters
			.callout
				%h2 Rocket
				%p Asymmetrical scenester Pitchfork, skateboard occupy food truck cray mumblecore artisan try-hard Schlitz. Mumblecore roof party blog literally try-hard +1 cornhole small batch, cliche put a bird on it bitters
			.callout
				%h2 Lightening
				%p Asymmetrical scenester Pitchfork, skateboard occupy food truck cray mumblecore artisan try-hard Schlitz. Mumblecore roof party blog literally try-hard +1 cornhole small batch, cliche put a bird on it bitters

#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don't I will find you!
		%button= link_to "Click Meeeee!!!", new_user_registration_path

%footer
	%p &copy; Shiovhan Boykin
